﻿@{
    ViewBag.Title = "Home Page";
}

  <!-- content -->

    <div class="row">
        <div class="col-xs-12 col-md-8">

        <section>
            <h3>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Prae sent vestibulum molestie lacus.</h3>
            <p class="p1">Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque pen atibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maece- nas tristique orci ac sem. Duis ultricies pharetra magna.</p> 
            <a href="#" class="link1">Read More &raquo;</a>
        </section>

            <section>


            </section>
        </div>


        <div class="col-xs-12 col-md-4 sidebar">
               <section>

                  <h4>TOURNAMENTS</h4>

                  <p class="p1">Aenean nonummy hendrerit mauris.</p> 

                  <ul class="list">
                	<li>
                    <a href="#">
                      <span>
                        <strong>Financial Documents</strong>
                        Lorem ipsum dolor sit amet consec tetuer
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>
                        <strong>calculation tools</strong>
                        Lorem ipsum dolor sit amet consec tetuer
                      </span>
                    </a>
                  </li>
                  <li class="last">
                    <a href="#">
                      <span>
                        <strong>copyrighting</strong>
                        Lorem ipsum dolor sit amet consec tetuer
                      </span>
                    </a>
                  </li>
                </ul>
                  <a href="#" class="link1">See More &raquo;</a>

                <br /><br />
                <h4>LEAGUES</h4>
                <dl class="list1">
                	<dt>Lorem ipsum dolor sit</dt> 
                  <dd>
                  	Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.<br />
                    <a href="#" class="link1">Read More &raquo;</a>
                  </dd>
                  <dt>Lorem ipsum dolor</dt> 
                  <dd>
                  	Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem..<br />
                    <a href="#" class="link1">Read More &raquo;</a>
                  </dd> 
                </dl>
                <a href="#" class="link2">All News Archive &raquo;</a>
              </section>

        </div>

    </div>