﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="header">

        <div class="top">
            <div class="wrapper">

                <div class="row">
                    <div class="col-xs-12">
                         <div id="logo"><a href="/">LOGO</a></div>

                        <ul class="nav">
                        <li><a href="#" class="active">HOME</a></li>
                        <li><a href="#">LEAGUES</a></li>
                        <li><a href="#">TOURNAMENTS</a></li>
                        <li><a href="#">PARTIES</a></li>
                        <li><a href="#">YOUTH</a></li>
                        <li><a href="#">GALLERY</a></li>
                        <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper banner">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Lorem ipsum dolor sit amet.</h1>

                    <h3>Lorem ipsum dolor sit amet, consec tetuer<br />
                        adipiscing elit. Prae sent vestibulum molestie lacus.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="wrapper">
           @RenderBody()    
        </div>
    </div>

  <div class="footer">
	   <p>&copy; <a href="/">USA BOWL</a> 2014 All rights reserved</p> 
  </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
