@import "bootstrap.min";


body { 
	background:#fff; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.3em;
	color:#98919f;
}


/*==== GLOBAL =====*/
a {
	color:#0293d6; 
	outline:none;
}

a:hover{
	text-decoration:none;
}


.wrapper {
	max-width: 960px;
	margin: 0 auto;
}
	
/*===== header =====*/
.header {
	background:url(/Images/header-bg.jpg) no-repeat 50% 0 #370159;
	height:443px;
	position:relative;
	text-align: center;

	.top {
		background: rgba(0, 0, 0, 0.5);
	}

	#logo {
		font-size: 42px;
		float: left;
		padding: 30px;

		a { color: #fff;}
	}

	.nav {
		float:right;
		li {
			float:left;
			padding-right:1px;

			a {
				float:left;
				font-size:14px;
				line-height:1.2em;
				color:#fff;
				text-decoration:none;
				padding:30px 20px;
				text-align:center;
				text-transform:uppercase;

				&:hover, &.active {
					background: #0293d6;
				}
			}
		}
	}

	.banner {
		padding: 80px 0 0;
		color: #fff;

		h1 {font-size: 42px;}
		h3 {font-size: 24px;}
	}

}


/*===== footer =====*/

.footer {
	background:#0e0e0e;
	color:#848795;
    text-align: center;
    padding: 30px;
    font-size: 12px;
}

li {
	list-style-type: none;
}

.content {
	margin: 40px 0;
}


.sidebar {
	.list {
		margin: 0;
		padding: 0;
		li {
		padding: 0 0 20px;
		}
	}
	

}